{% extends "base.html"%}


{% block content%}
<h2> Welcome to this blog!</h2>
	<p> I am {{author}}, the author of this blog </p>
	{% if sunny %} <!-- the double curly brackets 
					allocate for a variable,
					in this case "sunny" is the
					variable being passed into this
					template and the % signs allocate for a command-->
	<p>Today it is sunny</p>
	{% else %}
	<p>Today it is rainy</p>
	{% endif %}
	{% for post in posts%}
		<h2>{{post.title}}</h2>
		<h3>Author: {{post.author}}</h3>
	{% endfor %} 
	{%endblock%}